body {
    width: 1152px;
    margin: 0 auto;
    box-sizing: border-box;
}

/*index file header*/


.header-left-bg {
    background: url("../img/header-left-bg.png") repeat-x left;
    height: 49px;
}
.header-right-bg {
    background: url("../img/header-left-bg.png") repeat-x right;
    height: 49px;
}
.header {
    position: relative;
}
.h1 {
    position: absolute;
    top: 12px;
    left: 46px;
    text-decoration: none;
    color: #ffffff;
    font: 16px lighter;
    line-height: 20px;
    letter-spacing: -2.5px;
}
.header-h2 {
    position: absolute;
    top: 18px;
    left: 139px;
    color: #b9c4d5;
    font: 12px lighter;
    line-height: 13px;
    letter-spacing: -0.5px;
}
div.after-login {
    position: absolute;
    right: 197px;
    padding: 0 26px 0 80px;
    background: url("../img/header-center-bg.png") no-repeat;
    height: 49px;
}
p.after-login-text::before {
    padding-left: 9px;
    background: url("../img/user-id-marker.png") no-repeat left center;
    width: 3px;
    height: 3px;
    display: inline;
    padding-top: 3px;
    margin-left: 17px;
    content: "";
}
p.after-login-text {
    color: #cacbcb;
    font-size: 12px;
    display: inline-block;
    padding-top: 17px;
}
strong.user-id {
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 1px;
}
.home-list {
    position: absolute;
    top: 16px;
    right: 77px;
}
.home-list>li {
    display: inline-block;
}
.home-list>li:not(:first-child) {
    height: 7px;
    background: url("../img/header-home-bar.png") no-repeat left center;
}
.home-list>li>a {
    text-decoration: none;
    font-size: 12px;
    color: #adc1d5;
    padding: 0 9px;
    letter-spacing: -1px;
}
.header-button-logout {
    position: absolute;
    top: 12px;
    right: 9px;
    border: none;
    width: 63px;
    height: 23px;
}

/*index main*/

.main {
    height: 773px;
    background: url("../img/main-bg.png") repeat-x;
    padding: 12px 0 55px 13px;
}
.main::after {
    content: "";
    display: block;
    clear: both;
}
.aside {
    background: url("../img/aside-bg.png") no-repeat;
    width: 190px;
    height: 685px;
    padding: 18px 10px 0 11px;
    position: relative;
    float: left;
}
.aside-h2-border-bottom {
    background: url("../img/aside-text-border-bottom.png") no-repeat bottom;
    width: 190px;
    height: 28px;
    padding-bottom: 2px;
}
.aside-h2 {
    color: #ffffff;
    font-size: 14px;
    line-height: 2px;
    letter-spacing: -2px;
    font-weight: lighter;
    white-space: nowrap;
    position: absolute;
    top: 3px;
    left: 9px;
}
.aside-h2-2 {
    color: #2a2a2a;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: -1.5px;
    white-space: nowrap;
    position: absolute;
    top: -11px;
    left: 10px;
}
.aside-h2-bg {
    background: url("../img/aside-h2-bg.png") no-repeat;
    width: 109px;
    height: 14px;
    padding: 9px 44px 5px 37px;
}
.aside-yellow-marker {
    background: url("../img/aside-yellow-marker.png") no-repeat;
    width: 4px;
    height: 10px;
    position: absolute;
    top: 28px;
}
.aside-yellow-marker-2 {
    background: url("../img/aside-yellow-marker.png") no-repeat;
    width: 4px;
    height: 10px;
    position: absolute;
    top: 59px;
    left: 48px;
}
.aside-h3-border-bottom {
    background: url("../img/aside-text-border-bottom.png") no-repeat bottom;
    width: 190px;
    height: 31px;
    padding-bottom: 2px;
}
.aside-h3 {
    color: #2a2a2a;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: -1.5px;
    white-space: nowrap;
    position: absolute;
    top: -11px;
    left: 10px;
}
.aside-h3-2 {
    color: #ffffff;
    font-size: 14px;
    line-height: 2px;
    letter-spacing: -2px;
    font-weight: lighter;
    white-space: nowrap;
    position: absolute;
    top: 3px;
    left: 9px;
}
.aside-blue-marker {
    background: url("../img/aside-blue-marker.png") no-repeat;
    width: 4px;
    height: 10px;
    position: absolute;
    top: 59px;
    left: 48px;
}
.aside-blue-marker-2 {
    background: url("../img/aside-blue-marker.png") no-repeat;
    width: 4px;
    height: 10px;
    position: absolute;
    top: 28px;
    left: 48px;
}
.aside-list {
    padding: 8px 17px 0 12px;
}
.aside-list>li>a {
    text-decoration: none;
    color: #414141;
    font-size: 12px;
    letter-spacing: -0.5px;
    border-bottom: #c1c1c1 dotted 1px;
}
.aside-list>li:first-child>a {
    padding: 0 34px 6px 32px;
}
.aside-list>li:nth-child(2) {
    margin-top: 12px;
}
.aside-list>li:nth-child(2)>a {
    padding: 8px 46px 5px 33px;
}
.aside-list>li:nth-child(3) {
    margin-top: 10px;
}
.aside-list>li:nth-child(3)>a {
    padding: 7px 58px 6px 32px;
}
.aside-list>li:last-child {
    margin-top: 10px;
}
.aside-list>li:last-child>a {
    padding: 6px 46px 7px 32px;
}
.section {
    width: 915px;
    height: 700px;
    padding: 3px 0 0 2px;
    float: left;
}
.section-h2 {
    padding-left: 15px;
}
.section-h2-border-radius {
    background: url("../img/section-h2-border-radius.png") no-repeat left;
    width: 2px;
    height: 36px;
}
.section-h2-bg {
    background: url("../img/section-h2-bg.png") repeat-x;
    width: 897px;
    height: 36px;
}
.section-h2-text {
    color: #ffffff;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: -2px;
    padding-left: 27px;
    font-weight: lighter;
}
.section-bg-left {
    background: url("../img/section-bg-left.png") no-repeat left;
    width: 2px;
    height: 665px;
    padding-left: 2px;
}
.section-bg {
    background: url("../img/section-bg.png") repeat-x;
    width: 912px;
    height: 665px;
}
.section-bg-right {
    background: url("../img/section-bg-right.png") no-repeat right;
    height: 592px;
    padding: 15px 11px 58px 8px;
}
.section-h2-orange-bg {
    background: url("../img/section-h2-orange-bg.png") no-repeat;
    width: 185px;
    height: 32px;
    z-index: 1;
    position: relative;
}
.section-h2-orange-text {
    color: #fa6c03;
    font-size: 16px;
    letter-spacing: -3px;
    position: absolute;
    top: 13px;
    left: 35px;
}
.section-content-bg-left {
    background: url("../img/section-content-bg-left.png") no-repeat left;
    height: 599px;
    padding-left: 4px;
}
.section-content-bg {
    background: url("../img/section-content-bg.png") repeat-x;
    height: 599px;
}
.section-content-right {
    background: url("../img/section-content-bg-right.png") no-repeat right;
    height: 599px;
    padding: 37px 25px 58px 8px;
    box-sizing: border-box;
}
.section-table-1 {
    white-space: nowrap;
}
.table-caption,.table-caption-2 {
    background: #36699b url('../img/table-caption-marker.png') no-repeat 12px 6px;
    border-radius: 4px 4px 0 0;
    line-height: 22px;
    letter-spacing: -1px;
    color: #ffffff;
    font-size: 12px;
    position: relative;
}
.table-caption {
    width: 136px;
    height: 21px;
}
.table-caption-2 {
    width: 156px;
    height: 21px;
}
.caption-text {
    position: absolute;
    left: 23px;
}
.section-table-1>tbody>tr.first-tr>th,.section-table-1>tbody>tr.first-tr>th.th-right {
    height: 24px;
    background: #e7e9ed;
    border: 1px solid #cccccc;
    border-top: 2px solid #36699b;
    color: #65839d;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.5px;
}
.section-table-1>tbody>tr.first-tr>th,.section-table-1>tbody>tr:nth-child(3)>th:first-child,.section-table-1>tbody>tr:last-child>th {
    text-align: left;
    padding-left: 39px;
}
.section-table-1>tbody>tr.first-tr>th.th-right {
    width: 88px;
    text-align: left;
    padding-left: 49px;
}
.section-table-1>tbody>tr.first-tr>td,.section-table-1>tbody>tr.first-tr>td.td-right {
    height: 24px;
    background: #f3f3f3;
    border: 1px solid #cccccc;
    border-top: 2px solid #36699b;
    color: #414141;
    font-size: 12px;
    line-height: 24px;
}
.section-table-1>tbody>tr:nth-child(-n+3)>td {
    width: 273px;
    padding-left: 15px;
}
.section-table-1>tbody>tr:nth-child(4)>td>div.table-line-height,.section-table-1>tbody>tr:nth-child(3)>td.td-right-3 {
    padding-left: 13px;
}
.section-table-1>tbody>tr.first-tr>td.td-right {
    padding-left: 11px;
}
.section-table-1>tbody>tr>th,.section-table-1>tbody>tr>td {
    height: 24px;
    border: 1px solid #cccccc;
    font-size: 12px;
    line-height: 24px;
}
.section-table-1>tbody>tr>th {
    color: #65839d;
    background: #e7e9ed;
    letter-spacing: -0.5px;
}
.section-table-1>tbody>tr>td:not(td.small-td) {
    color: #414141;
    background: #f3f3f3;
}
.section-table-1>tbody>tr:nth-child(2)>th:first-child,.section-table-1>tbody>tr:nth-child(4)>th:first-child {
    width: 111px;
    text-align: left;
    padding-left: 27px;
}
.section-table-1>tbody>tr:not(:first-child)>td {
    position: relative;
}
.section-table-1>tbody>tr>th.th-right-2,.section-table-1>tbody>tr>td.td-right-2 {
    content: "";
}
.section-table-1>tbody>tr>td>strong.td-strong {
    color: #36699b;
    position: absolute;
    top: 2px;
}
.section-table-1>tbody>tr:not(:nth-child(-n+2))>td>div.table-line-height {
    position: absolute;
    top: 2px;
}
.section-table-1>tbody>tr:nth-child(3)>th.th-right-3 {
    text-align: left;
    padding-left: 55px;
}
.section-table-1>tbody>tr:nth-child(5)>th:first-child,.section-table-1>tbody>tr:nth-child(7)>th:first-child {
    width: 106px;
    text-align: left;
    padding-left: 32px;
    vertical-align: middle;
}
td.small-td {
    width: 35px;
    background: #e7e9ed;
    padding-left: 14px;
}
.section-table-1>tbody>tr:nth-child(5)>td:nth-child(3)>div.table-line-height {
    color: #36699b;
}
.section-table-1>tbody>tr:nth-child(n+5):nth-child(-n+8):not(:nth-child(7))>td {
    padding-left: 13px;
}
.section-table-1>tbody>tr:nth-child(7)>td>div.table-line-height {
    padding-left: 15px;
}
.table-a {
    text-decoration: none;
    color: #396c9e;
}
.section-table-2 {
    margin-top: 17px;
    text-align: center;
}
.section-table-2>tbody>tr>th {
    height: 24px;
    background: #e7e9ed;
    border: 1px solid #cccccc;
    border-top: 2px solid #36699b;
    color: #65839d;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.5px;
}
.section-table-2>tbody>tr>td {
    height: 24px;
    background: #f3f3f3;
    border: 1px solid #cccccc;
    color: #414141;
    font-size: 12px;
    line-height: 24px;
}
/*
.col-1 {
    width: 10%;
}
.col-2 {
    width: 25%;
}
.col-3 {
    width: 15%;
}
*/
.col-1 {
    width: 48px;
}
.col-2 {
    width: 219px;
}
.col-3 {
    width: 209px;
}
.col-4 {
    width: 207px;
}
.col-5 {
    width: 166px;
}
.section-table-2:last-child {
    margin-top: 16px;
}