body {
    width: 1152px;
    margin: 0 auto;
    box-sizing: border-box;
}

/*index file header*/


.header-left-bg {
    background: url("../img/header-left-bg.png") repeat-x left;
    height: 49px;
}
.header-right-bg {
    background: url("../img/header-left-bg.png") repeat-x right;
    height: 49px;
}
.header {
    position: relative;
}
.h1 {
    position: absolute;
    top: 12px;
    left: 46px;
    text-decoration: none;
    color: #ffffff;
    font: 16px lighter;
    line-height: 20px;
    letter-spacing: -2.5px;
}
.header-h2 {
    position: absolute;
    top: 18px;
    left: 139px;
    color: #b9c4d5;
    font: 12px lighter;
    line-height: 13px;
    letter-spacing: -0.5px;
}
div.after-login {
    position: absolute;
    right: 197px;
    padding: 0 26px 0 80px;
    background: url("../img/header-center-bg.png") no-repeat;
    height: 49px;
}
p.after-login-text::before {
    padding-left: 9px;
    background: url("../img/user-id-marker.png") no-repeat left center;
    width: 3px;
    height: 3px;
    display: inline;
    padding-top: 3px;
    margin-left: 17px;
    content: "";
}
p.after-login-text {
    color: #cacbcb;
    font-size: 12px;
    display: inline-block;
    padding-top: 17px;
}
strong.user-id {
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 1px;
}
.home-list {
    position: absolute;
    top: 16px;
    right: 77px;
}
.home-list>li {
    display: inline-block;
}
.home-list>li:not(:first-child) {
    height: 7px;
    background: url("../img/header-home-bar.png") no-repeat left center;
}
.home-list>li>a {
    text-decoration: none;
    font-size: 12px;
    color: #adc1d5;
    padding: 0 9px;
    letter-spacing: -1px;
}
.header-button-logout {
    position: absolute;
    top: 12px;
    right: 9px;
    border: none;
    width: 63px;
    height: 23px;
}

/*index main*/

.main {
    height: 773px;
    background: url("../img/main-bg.png") repeat-x;
    padding: 12px 0 55px 13px;
}
.main::after {
    content: "";
    display: block;
    clear: both;
}
.aside {
    background: url("../img/aside-bg.png") no-repeat;
    width: 190px;
    height: 685px;
    padding: 18px 10px 0 11px;
    position: relative;
    float: left;
}
.aside-h2-border-bottom {
    background: url("../img/aside-text-border-bottom.png") no-repeat bottom;
    width: 190px;
    height: 28px;
    padding-bottom: 2px;
}
.aside-h2 {
    color: #ffffff;
    font-size: 14px;
    line-height: 2px;
    letter-spacing: -2px;
    font-weight: lighter;
    white-space: nowrap;
    position: absolute;
    top: 3px;
    left: 9px;
}
.aside-h2-bg {
    background: url("../img/aside-h2-bg.png") no-repeat;
    width: 109px;
    height: 14px;
    padding: 9px 44px 5px 37px;
}
.aside-yellow-marker {
    background: url("../img/aside-yellow-marker.png") no-repeat;
    width: 4px;
    height: 10px;
    position: absolute;
    top: 28px;
}
.aside-h3-border-bottom {
    background: url("../img/aside-text-border-bottom.png") no-repeat bottom;
    width: 190px;
    height: 31px;
    padding-bottom: 2px;
}
.aside-h3 {
    color: #2a2a2a;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: -1.5px;
    white-space: nowrap;
    position: absolute;
    top: -11px;
    left: 10px;
}
.aside-blue-marker {
    background: url("../img/aside-blue-marker.png") no-repeat;
    width: 4px;
    height: 10px;
    position: absolute;
    top: 59px;
    left: 48px;
}
.aside-list {
    padding: 8px 17px 0 12px;
}
.aside-list>li>a {
    text-decoration: none;
    color: #414141;
    font-size: 12px;
    letter-spacing: -0.5px;
    border-bottom: #c1c1c1 dotted 1px;
}
.aside-list>li:first-child>a {
    padding: 0 34px 6px 32px;
}
.aside-list>li:nth-child(2) {
    margin-top: 12px;
}
.aside-list>li:nth-child(2)>a {
    padding: 8px 46px 5px 33px;
}
.aside-list>li:nth-child(3) {
    margin-top: 10px;
}
.aside-list>li:nth-child(3)>a {
    padding: 7px 58px 6px 32px;
}
.aside-list>li:last-child {
    margin-top: 10px;
}
.aside-list>li:last-child>a {
    padding: 6px 46px 7px 32px;
}
.section {
    width: 913px;
    height: 700px;
    padding: 3px 0 0 2px;
    float: left;
}
.section-h2 {
    padding-left: 15px;
}
.section-h2-border-radius {
    background: url("../img/section-h2-border-radius.png") no-repeat left;
    width: 2px;
    height: 36px;
}
.section-h2-bg {
    background: url("../img/section-h2-bg.png") repeat-x;
    width: 895px;
    height: 36px;
}
.section-h2-text {
    color: #ffffff;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: -2px;
    padding-left: 27px;
    font-weight: lighter;
}
.section-bg-left {
    background: url("../img/section-bg-left.png") no-repeat left;
    width: 2px;
    height: 665px;
}
.section-bg {
    background: url("../img/section-bg.png") repeat-x;
    width: 911px;
    height: 665px;
}
.section-bg-right {
    background: url("../img/section-bg-right.png") no-repeat right;
    height: 592px;
    padding: 15px 8px 58px;
}
.section-h2-orange-bg {
    background: url("../img/section-h2-orange-bg.png") no-repeat;
    width: 185px;
    height: 32px;
    z-index: 1;
    position: relative;
}
.section-h2-orange-text {
    color: #fa6c03;
    font-size: 16px;
    letter-spacing: -2px;
    position: absolute;
    top: 13px;
    left: 35px;
}
.section-content-bg-left {
    background: url("../img/section-content-bg-left.png") no-repeat left;
    width: 4px;
    height: 599px;
}
.section-content-bg {
    background: url("../img/section-content-bg.png") repeat-x;
    width: 888px;
    height: 599px;
}
.section-content-right {
    background: url("../img/section-content-bg-right.png") no-repeat right;
    height: 599px;
    padding: 38px 25px 58px 11px;
}
.section-table {
    white-space: nowrap;
}
.table-caption {
    background: #36699b;
    width: auto;
    height: 21px;
    line-height: 21px;
    letter-spacing: -1px;
    color: #ffffff;
    font-size: 12px;
    padding: 6px 38px 6px 12px;
}